h1 
{
   color: black;
   padding-left: 600px;
   font-style: inherit; 
   padding-bottom: 20px;
   background-color: gray;
}
h2
{
    color: black;
    padding-left: 625px;
    font-style: inherit; 
    font-weight: bolder;
    padding-bottom: 20px;  
    background: gray; 
}
p
{
    padding-left: 80px;
    font-weight: bold;
    background-color: gray;
    word-spacing: 1200px;
    font-size: 100%;
    
    
}
ul li
{
    list-style-type: none;
    padding-top: 20px;
    font-style: initial;
    word-spacing: 30%px;
    
}
div
{
    font-style: initial;
    font-weight: bold;
    float: right;
    background-color: khaki;
}
body
{
    background-color: darkkhaki;
}
h3
{
    text-align: center;
}
form
{
    padding-top: 30px ;
}
